<!--header-->
{include file="public/_meta" title="订单管理"/}

</head>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 订单管理 <span class="c-gray en">&gt;</span> 订单列表 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">
  <div class="text-c">
    <form action="" method="get">
      日期范围：
      <input type="text" name="start_time" class="input-text" id="countTimestart" onfocus="selecttime(1)" value="{$start_time}" style="width:180px;" >
      -
      <input type="text" name="end_time" class="input-text" id="countTimestart" onfocus="selecttime(1)" value="{$end_time}"  style="width:180px;">

      <input type="text" name="name" id="" value="{$name}" placeholder=" 名称" style="width:250px" class="input-text">
      <button name="" id="" class="btn btn-success" type="submit"><i class="Hui-iconfont">&#xe665;</i> 搜索</button>
    </form>
  </div>

  <div class="mt-20">
    <table class="table table-border table-bordered table-bg table-hover table-sort table-responsive" >
      <thead>
      <tr class="text-c">
        <!--<th width="25"><input type="checkbox" name="" value=""></th>-->
        <th width="80">ID</th>
        <th>订单号</th>
        <th width="140">商品名称</th>
        <th width="80">商品总数</th>
        <th width="80">商品总价格</th>
        <th width="80">订单状态</th>
        <th width="160">下单时间</th>
        <th width="140">操作</th>
      </tr>
      </thead>
      <tbody>
      {volist name="order" id="v"}
      <tr class="text-c">
        <!--<td><input type="checkbox" value="" name=""></td>-->
        <td>{$v['id']}</td>
        <td class="text-l"><u style="cursor:pointer" class="text-primary"  title="查看">{$v['order_no']}</u></td>
        <td>{$v['snap_name']}</td>
        <td>{$v['total_count']}</td>
        <td>￥{$v['total_price']}</td>
        <td class="td-status">{$v['status']|orderStatus=###}</td>
        <td>{$v['create_time']}</td>
        <td class="f-14 td-manage">
          <!--<a style="text-decoration:none" class="ml-5" onClick="edit(this)" href="javascript:;" edit_url="{:url('Product/edit',['id'=>$v['id']])}" title="编辑"><i class="Hui-iconfont">&#xe6df;</i></a>-->
          <a style="text-decoration:none" class="ml-5" onClick="del(this)" href="javascript:;" title="删除" del_url="{:url('Order/delete',['id'=>$v['id']])}"><i class="Hui-iconfont">&#xe6e2;</i></a>
          <a style="text-decoration:none" class="ml-5" onClick="delivery(this)" href="javascript:;" delivery_url="{:url('Order/delivery',['id'=>$v['id']])}" title="发货"><i class="Hui-iconfont">&#xe669;</i></a>
        </td>
      </tr>
      {/volist}
      </tbody>
    </table>
    <div id="laypage"></div>
  </div>

</div>
<!--header-->
{include file="public/_footer" /}

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="__STATIC__/hadmin/lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="__STATIC__/hadmin/lib/laypage/1.2/laypage.js"></script>
<script type="text/javascript">
  //发货
  function delivery(obj){
      url = $(obj).attr('delivery_url');
      layer.confirm('确认发货吗？',function(index){
          $.ajax({
              type: 'POST',
              url: url,
              dataType: 'json',
              success: function(res){
                  if(res.code == 1){
                      self.location = res.data.jump_url;
                  }else if(res.code == 0){
                      layer.msg(res.msg,{icon:5,time:3000});
                  }
              },
              error:function(res) {
                  console.log(res.msg);
              },
          });
      });
  }

  var url = '{:url("Order/index")}' + "?{$query}";
  laypage({
      cont: 'laypage',
      pages: '{$pageTotal}',
      skin: '#5FB878',
      curr: '{$curr}' || 1,
      jump:function (e,first) {
          if(!first){
              location.href = url + '&page=' + e.curr;
          }
      }
  });

</script>
<style>
  .imooc-app .pagination li{display:inline; padding-left:10px;}
  .pagination .active{color:red}
  .pagination .disabled{color:#888888}
</style>
</body>
</html>